{% extends "base.html" %}
{% load static %}

{% block title %}
  Registered Users
{% endblock %}

{% block page_header %}
  Registered Users
  <a href="{% url "bot-management:bot_landing" %}" class="btn btn-primary float-right" style="color: #FFF">
    Back
  </a>
{% endblock %}

{% block body %}
  <div class="alert alert-info">
    All currently registered <strong>Profiles</strong> using <strong>Whitehat's !register</strong> command. are
    displayed here.
  </div>
  <!-- Trigger Discord User Modal -->
  <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#userModal">
    Show Online Users
  </button>

  <!-- Discord User Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <iframe src="https://discordapp.com/widget?id=594900376508039169" height="600"
                allowtransparency="true" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="item-background"
       style="display: flex; flex-wrap: wrap; justify-content: space-between; padding-bottom: 20px">
    {% for profile in profiles %}
      <a style="min-width: 49%; margin: 0 auto 10px auto" data-toggle="modal"
         data-target="#userModal_{{ profile.discord_id }}">
        <div class="card">
          <div class="card-body" style="text-align: center">
            <img src="{{ profile.discord_avatar }}" alt="discord_avatar_{{ profile.discord_id }}" height="50"
                 width="50" style="border-radius: 50%">
            <br>
            <div class="mt-1">
              {{ profile.discord_tag }}
            </div>
            <strong>{{ profile.full_name }}</strong>
            <br>

          </div>
        </div>
      </a>
      <div class="modal fade" id="userModal_{{ profile.discord_id }}" tabindex="-1" role="dialog"
           aria-labelledby="userModal_{{ profile.discord_id }}_Label"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body" style="text-align: center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <img src="{{ profile.discord_avatar }}" alt="discord_avatar_{{ profile.discord_id }}" height="50"
                   width="50" style="border-radius: 50%"><br>
              <div class="mt-1">
                <strong>Full Name:</strong> {{ profile.full_name }}<br>
                <strong>Discord Tag:</strong> {{ profile.discord_tag }}<br>
                <strong>Description:</strong> {{ profile.description }}<br>
                {% if profile.link %}
                  <strong>Link:</strong> <a href="{{ profile.link }}">{{ profile.link }}</a><br>
                {% endif %}
                {% if profile.htb %}
                  <a href="{{ profile.get_htb_profile }}"><img class="mt-2" src="{{ profile.get_htb_url }}" alt="htb_{{ profile.discord_id }}"></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
{% endblock %}