$block-bg-col: white;
$block-border-radius: 0.3125rem;
$block-box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.3);

.action-list-container {
  max-width: 800px;

  .action-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 2rem;
    margin: auto;
    width: 100%;

    .action-container {
      margin: 1rem;
      height: 10rem;
      width: 20rem;
      cursor: pointer;


      .action-link {
        text-decoration: none;
        cursor: pointer;

        .action-card {
          border-radius: $block-border-radius;
          background-color: $block-bg-col;
          box-shadow: $block-box-shadow;
          width: 100%;
          height: 100%;
          padding: 0;
          background-repeat: no-repeat;
          background-size: auto 80%;
          background-position: right bottom;
          transition: background-size 0.05s;
          transition: background-color 0.3s;
          cursor: pointer;
          position: relative;

          .action-title {
            color: white;
            height: 100%;
            padding: 35% 0 0 10%;
            text-shadow: 1px 1px 5px black !important;
          }
        }
      }
    }
  }
}

#action-users {
  $c: #4994ba;
  background-image: url("/static/img/users.png");
  background-position: 94% 94%;
  background-color: $c;

  &:hover {
    transition: 0.1s;
    background-size: auto 70%;
    background-color: darken($c, 10%);
  }
}

#action-events {
  $c: #5cb85c;
  background-image: url("/static/img/calendar.png");
  background-position: 94% 70%;
  background-color: $c;

  &:hover {
    transition: 0.1s;
    background-size: auto 70%;
    background-color: darken($c, 10%);
  }
}

#action-log {
  $c: #ff9800;
  background-image: url("/static/img/history.png");
  background-position: 94% 70%;
  background-color: $c;

  &:hover {
    transition: 0.1s;
    background-size: auto 70%;
    background-color: darken($c, 10%);
  }
}

#action-commands {
  $c: #b33e3e;
  background-image: url("/static/img/terminal.png");
  background-position: 94% 94%;
  background-color: $c;

  &:hover {
    transition: 0.1s;
    background-size: auto 70%;
    background-color: darken($c, 10%);
  }
}