{% extends "base.html" %}
{% load static %}

{% block title %}
  Events
{% endblock %}

{% block head %}
  <link href="{% static "css/tabs.css" %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
  Events
  {% if user.is_staff %}
    <a href="{% url "events:create_event" %}" class="btn btn-primary float-right" style="color: #FFF">
      Create Event
    </a>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'current')" id="default">Current Events</button>
    <button class="tablinks" onclick="openCity(event, 'previous')">Previous Events</button>
  </div>
  <div id="current" class="tabcontent mb-3">
    <div class="card-body">
      {% if not current_events %}
        <div class="alert alert-info mt-3">
          There are no upcoming events.
        </div>
      {% endif %}
      <div style="display: flex; flex-wrap: wrap; justify-content: space-between">
        {% for event in current_events %}
          <div class="card mb-2 bg-light" style="width: 100%">
            <div class="card-body">
              <div class="mb-2">
                <strong>{{ event.title }}</strong>
              </div>
              <i class="fa fa-fw fa-map-marker"></i> {{ event.location }}<br>
              <i class="fa fa-fw fa-calendar"></i> {{ event.time }}<br>
              <i class="fa fa-fw fa-info-circle"></i> {{ event.info }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="previous" class="tabcontent mb-3">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
    {% for event in previous_events %}
      {{ event.time }}<br>
    {% endfor %}
  </div>

  <script src="{% static "js/tabs.js" %}"></script>
{% endblock %}