{% extends "base.html" %}
{% load static %}

{% block title %}
  Bot Management
{% endblock %}

{% block page_header %}
  Bot Management
{% endblock %}

{% block body %}
  <link rel="stylesheet" href="/static/css/buttons.css">
  <div class="item-background">
    <div class="action-list-container" style="margin: 0 auto">
      <div class="action-list theme-form">
        <div class="action-container">
          <a class="action-link" href="{% url 'users:users_index' %}">
            <div class="action-card" id="action-users">
              <p class="action-title">Users</p>
            </div>
          </a>
        </div>
        <div class="action-container">
          <a class="action-link" href="{% url "events:event_index" %}">
            <div class="action-card" id="action-events">
              <p class="action-title">Events</p>
            </div>
          </a>
        </div>
        <div class="action-container">
          <a class="action-link" href="{% url 'bot-management:bot_log' %}">
            <div class="action-card" id="action-log">
              <p class="action-title">Logging</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}