{% extends "base.html" %}
{% load static %}

{% block title %}
  About
{% endblock %}

{% block page_header %}
  About
{% endblock %}

{% block body %}
  <div class="item-background">
    The primary activity of the UWA Ethical Hacking Club is for students to learn ethical hacking through practice on
    various platforms such as <strong>Hack The Box</strong> and <strong>picoCTF</strong>.<br><br> The skills that you
    acquire from this are broad, and whilst it helps to know about networking, operating systems, programming and cyber
    security, you pick up enough knowledge through practice to be able to make progress.<br><br> The repository for this
    website can be found <a class="non-formatted-link"
                            href="https://github.com/Dragonite/djangohat"><strong>here</strong></a>.
  </div>
{% endblock %}