{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Whitehat{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"
        crossorigin="anonymous">
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <link href="{% static "css/core.css" %}" rel="stylesheet">
  <link href="{% static "css/datetimepicker.css" %}" rel="stylesheet">
  <script src="{% static "js/datetimepicker.js" %}"></script>
  <!-- Extended header -->
  {% block head %} {% endblock %}
</head>

<body>
{% include "sidebar.html" %}
<div class="content">
  {% if messages %}
    {% for message in messages %}
      <div class='alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} mt-3 mb-3'>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <div class="container">
    <h2 class="mt-3 mb-3">{% block page_header %}{% endblock %}</h2>
    {% block body %} {% endblock %}
  </div>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
</body>
</html>